@model IEnumerable<GestionLocationWebApp.Models.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomUsr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomUsr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginUsr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PwdUsr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DroitUsr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomUsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomUsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginUsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PwdUsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DroitUsr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsr">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsr">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
